#first-card{
  background-image: url(../img/bathroom/shower.jpg);
}
#second-card{
  background-image: url(../img/bathroom/bath.jpg);
}
#third-card{
  background-image: url(../img/bathroom/slippers.jpg);
}
#fourth-card{
  background-image: url(../img/bathroom/soap.jpg);
}
#fifth-card{
  background-image: url(../img/bathroom/mirror.jpg);
}
#sixth-card{
  background-image: url(../img/bathroom/towel.jpg);
}
#seventh-card{
  background-image: url(../img/bathroom/shampoo.jpg);
}
#eighth-card{
  background-image: url(../img/bathroom/hairdryer.jpg);
}
