#first-card{
  background-image: url(../img/body/head.jpg);
}
#second-card{
  background-image: url(../img/body/forhead.jpg);
}
#third-card{
  background-image: url(../img/body/arm.jpg);
}
#fourth-card{
  background-image: url(../img/body/leg.jpg);
}
#fifth-card{
  background-image: url(../img/body/back.jpg);
}
#sixth-card{
  background-image: url(../img/body/stomach.jpg);
}
#seventh-card{
  background-image: url(../img/body/elbow.jpg);
}
#eighth-card{
  background-image: url(../img/body/knee.jpg);
}
