#first-card{
  background-image: url(../assets/img/kitchen/knife.jpg);
}
#second-card{
  background-image: url(../assets/img/kitchen/spoon.jpg);
}
#third-card{
  background-image: url(../assets/img/kitchen/fork.jpg);
}
#fourth-card{
  background-image: url(../assets/img/kitchen/plate.jpg);
}
#fifth-card{
  background-image: url(../assets/img/kitchen/cup.jpg);
}
#sixth-card{
  background-image: url(../assets/img/kitchen/teapot.jpg);
}
#seventh-card{
  background-image: url(../assets/img/kitchen/ladle.jpg);
}
#eighth-card{
  background-image: url(../assets/img/kitchen/pan.jpg);
}
