.cards {
    margin: 1.5em auto;
    width: 80%;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(13em, auto);
}

.cards__item {
    position: relative;

    /* flex */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* grid */
    grid-column: span 3;
    background-size: cover;
    background-color: var(--dark-dark-color);
    color: white;
    box-shadow: 5px 4px 5px var(--box-shadow-dark-color);
}

.cards__label {
    font-size: 1.2em;
    letter-spacing: 2px;
    max-width: 70%;
}

.cards__input {
    max-width: 70%;
}

.cards__back-label {
    font-size: 1.2em;
    padding: .1em;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    transform: rotateY(180deg);
    background-color: var(--dark-dark-color);
    color: var(--light-color);
    display: none;
}
.cards__sound-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;

    transition: transform 150ms;
    background: transparent;
    border: none;
}
.cards__sound-btn:hover {
    transform: rotateZ(10deg);
}
